* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

.header {
    font-size: 100px;
    font-style: italic;
    color: #fff;
    background: linear-gradient(70deg, #8EE3EF, #AEF3E7, #E89005, #EC7505);
    text-align: center;
}


h2 {
    font-size: 30px; 
    text-align: center;
}

h3 {
    font-size: 20px; 
    text-align: left;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 9999;
}



/* start functional styles */
.flex-direction-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
/* End functional styles */

.padding-small{
    padding: 5px;
}

/* start design styles */
.background-color-primary{
    background-color: #F7F7F2;
}


.text-styles-primary{
    font-size: 26px;
    text-align: center;
    color: orange;
}

.text-styles-secondary{
    font-size: 20px;
    text-align: center;
    color: black;
}

.shadows-primary{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.0);
}

.border-boxes {
    margin-top: 15px;
    border-top: 3px black solid;
    border-radius: 10px;
}
/* End design styles */