* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    text-decoration: none;
}

/* Start Box behavior */
.sticky {
    position: sticky;
    top: 0;
    z-index: 9998;
}

.main-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.feature-section-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;

}

.is-one-fifth {
    width: 20%;
}

.is-one-third {
    width: 30%;
}

.is-half {
    width: 45%;
}

.is-four-fifths {
    width: 80%;
}

.is-full {
    width: 100%;
}
/* End Box behavior */


/* Start header font styles */
.header {
    font-style: italic;
    background: linear-gradient(70deg, black, darkgreen, lightgreen,red, black);
    text-align: center;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 40px; 
    text-align: center;
}

h4 {
    font-size: 20px; 
    text-align: left;
}

.font-color-one {
    color: #fff;
}
/* End header font styles */


/* Start box background design and colors */
.background-color-primary {
    background-color: #F7F7F2;
}

.rounded {
    border-radius: 30px;
}

.rounded-top-seperator {
    border-top: 3px black solid;
    border-radius: 10px;
}

.shadows{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.0);
}
/* End box background design and colors */


/* Media queries for smaller screens */
@media only screen and (max-width: 1238px) {
    h1 {
        font-size: 75px;
    }
    
    h2 {
        font-size: 55px;
    }
    
    h3 {
        font-size: 20px; 
        text-align: center;
    }
    
    h4 {
        font-size: 15px; 
        text-align: left;
    }
}

@media only screen and (max-width: 900px) {
    .mobile-main-flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .mini-header {
        display: none;
    }

    h3 {
        font-size: 20px; 
        text-align: center;
    }
    
    h4 {
        font-size: 15px; 
        text-align: left;
    }
    .mobile-is-full{
    width: 98%;
    }
    .mobile-is-half {
        width: 48%;
    }

    .small-header-sticky {
        position: sticky;
        top: 0;
        z-index: 9999;
    }
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px; 
        text-align: center;
    }
    
    h4 {
        font-size: 15px; 
        text-align: left;
    }
    .mobile-is-full{
    width: 98%;
    }

    .mobile-is-half {
        width: 98%;
    }

    .mobile-main-flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
}