* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

/* Start Box behavior */
.flex-direction-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 9999;
}
/* End Box behavior */

/* Start header font styles */
.header {
    font-style: italic;
    background: linear-gradient(70deg, black, darkgreen, lightgreen, black);
    text-align: center;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 75px;
}

h3 {
    font-size: 30px; 
    text-align: center;
}

h4 {
    font-size: 20px; 
    text-align: left;
}

h5 {
    font-size: 15px;
}

.font-color-one {
    color: #fff;
}
/* End header font styles */

/* Start box background design and colors */
.background-color-primary {
    background-color: #F7F7F2;
}

.rounded {
    border-radius: 30px;
}

.rounded-top-seperator {
    border-top: 3px black solid;
    border-radius: 10px;
}

.shadows{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 1.0);
}
/* End box background design and colors */